## INSTALLATION
# install a fresh system
install
# install from the first CD-ROM drive on the system
cdrom
# perform installation in graphical mode
graphical
# use graphical login
xconfig --startxonboot
# reboot after finished
reboot

## LOCALISATION
lang en_GB.UTF-8
keyboard uk
timezone --utc Europe/London

## NETWORK
network  --bootproto=dhcp --device=eth0 --onboot=on

# set up the authentication options for the system
authconfig --enableshadow  --enablemd5


# set the system's root password
rootpw password
# disable firewall
firewall --disabled
# disable selinux
selinux --disabled
# disable setup agent the first time the system boots
firstboot --disabled
# installation logging level
logging --level=info
# erase all partitions from the system
clearpart --all
# automatically create partitions
autopart
# specifies how the boot loader should be installed
bootloader --location=mbr --driveorder=sda
# destroy all of the contents of disks with invalid partition tables
zerombr


# install packages
%packages --ignoremissing
@base
@core
@development
@fonts
@x11
@internet-browser
@kde-desktop
wget
unzip
git

# Do not include unnecessary packages
# Most of these are wi-fi and USB drivers which will not be necessary for server environments
-aic94xx-firmware
-btrfs-progs
-ivtv-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl1000-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6050-firmware
-iwl7260-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
%end

%post

# create vagrant user and allow sudo
groupadd vagrant
useradd vagrant -g vagrant
echo "vagrant" | passwd vagrant --stdin
echo "vagrant  ALL=(ALL)  NOPASSWD: ALL" >> /etc/sudoers
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers


# Update local time with public NTP server
/usr/sbin/ntpdate -sub 0.uk.pool.ntp.org
/usr/sbin/hwclock --systohc

# Flush file-system buffers before we restart the system
sync

%end
